{%- if article and article != empty -%}
  <div>
    <div class='tw-w-full tw-h-auto' style='aspect-ratio: 3.5/4.2;'>
      <img
        src='{{ article.image | image_url: width: 1000 }}'
        alt='{{ article.title }}'
        class='tw-w-full tw-h-full tw-object-cover tw-object-center'
        width='100%'
        height='auto'
      >
    </div>
    <h2 class='tw-text-center h2 tw-mb-sm'>{{ article.title }}</h2>
    <p class='tw-text-center tw-text-sm tw-text-gray-500 p3'>{{ article.published_at | date: '%B %d, %Y' }}</p>
    <script>
      console.log('article', {{ article | json }})
    </script>
    <div></div>
  </div>
{%- endif -%}
