{%- if article and article != empty -%}
  <div>
    <div class='tw-w-full tw-h-auto' style='aspect-ratio: 3.5/4.2;'>
      <img
        src='{{ article.image | image_url: width: 1000 }}'
        alt='{{ article.title }}'
        class='tw-w-full tw-h-full tw-object-cover tw-object-center'
        width='100%'
        height='auto'
      >
    </div>

    <div class='md:tw-flex tw-flex-col tw-gap-3 tw-pt-3 tw-flex-1 tw-items-center tw-border-t tw-border-black tw-w-[85%] tw-m-auto'>
      <p class='p1 tw-text-black tw-uppercase tw-truncate'>{{ article.title }}</p>
      <p class='p1 tw-text-black tw-uppercase '>{{ article.published_at | date: '%B %d, %Y' }}</p>
    </div>
    <script>
      console.log('article', {{ article | json }})
    </script>
    <div></div>
  </div>
{%- endif -%}
