{%- if article and article != empty -%}
  <div>
    <div class='tw-w-full tw-h-auto tw' style='aspect-ratio: 5/6;'>
      {% if article.image != blank %}
        <a class='tw-pointer' href='{{ article.url }}'>
          <img
            src='{{ article.image | img_url: 'master' }}'
            alt='{{ article.title }}'
            class='tw-w-full tw-h-full tw-object-cover tw-object-center'
            width='100%'
            height='auto'
          >
        </a>
      {% endif %}
    </div>
    {% if article.title != blank or article.published_at != blank %}
      <div class='md:tw-flex tw-flex-col tw-gap-3 tw-pt-3 tw-mt-3 tw-flex-1 tw-items-center tw-justify-center tw-border-t tw-border-black tw-w-[85%] tw-m-auto'>
        {% if article.title != blank %}
          <a
            class='p1 tw-text-black tw-uppercase tw-truncate md:hover:tw-underline tw-transition-all tw-duration-150 tw-ease-in-out tw-text-center'
            href='{{ article.url }}'
          >
            <span class='tw-block'>{{- article.title -}}</span>
          </a>
        {% endif %}
        {% if article.metafields.custom.post_date != blank %}
          <p class='tw-text-center p1 tw-uppercase'>{{ article.metafields.custom.post_date }}</p>
        {% elsif article.metafields.custom.event_date != blank %}
          <p class='tw-text-center p1 tw-uppercase'>{{ article.metafields.custom.event_date }}</p>
        {% elsif article.published_at != blank %}
          <p class='tw-text-center p1 tw-uppercase'>{{- article.published_at | date: '%B %d, %Y' -}}</p>
        {% endif %}
      </div>
    {% endif %}
    <div></div>
  </div>
{%- endif -%}
