<script src='{{ 'button.js' | asset_url }}' type='module' defer='defer'></script>

{% assign button_type = button_type | default: 'button' %}
{% assign button_cta = button_cta | default: 'Button' %}
{% assign button_url = button_url | default: '#' %}

{% assign styles = 'tw-border tw-border-black tw-flex tw-text-black tw-items-center tw-justify-center tw-uppercase tw-py-[10px] tw-px-[20px] tw-cursor-pointer tw-bg-white' %}

<button-component>
  {%- if button_type == 'link' %}
    <a
      id='button'
      class='{{ styles }}'
      href='{{ button_url }}'
    >
      <span class=''>{{ button_cta }}</span>
    </a>
  {% else %}
    <button
      style='border-radius: 50px;'
      id='button'
      class='{{ styles }}'
      onclick='{%if button_onclick != null%}{{button_onclick}}{%endif %}'
      type='{% if button_action_type != null %}{{button_action_type}}{% endif %}'
    >
      <span class='tw-leading-none'>{{ button_cta }}</span>
    </button>
  {% endif %}
</button-component>
