{% assign product = product %}
{% assign variant = variant %}
{% assign product_url = product_url %}
{% assign lazy_load = lazy_load %}

<div class='tw-flex tw-flex-col tw-justify-between tw-h-auto'>
  {% if variant.metafields.custom.variant_front_image != blank
    and variant.metafields.custom.variant_product_video != blank
  %}
    <product-card-hover-component>
      <div class='product-card '>
        <a
          href='{{ product_url }}'
          aria-label='View {{ product.title }}'
          class='tw-block'
        >
          <div class='product-image tw-w-full tw-relative' style='aspect-ratio: 4/5;'>
            <img
              src='{{ variant.metafields.custom.variant_front_image | image_url: width: 1000 }}'
              alt='{{ product.title }}'
              class='tw-w-full tw-h-full tw-absolute tw-inset-0 tw-object-cover'
              width='100%'
              height='100%'
              {% if lazy_load %}
                loading='lazy'
              {% endif %}
            >
          </div>
          <div
            class='product-video-container tw-w-full tw-relative'
            style='display: none; aspect-ratio: 4/5;'
            data-src='{{ variant.metafields.custom.variant_product_video | file_url }}'
          >
            <video
              src=''
              muted
              playsinline
              loop
              class='product-video tw-w-full tw-h-full tw-absolute tw-inset-0 tw-object-cover tw-object-center'
            ></video>
          </div>
        </a>
      </div>
    </product-card-hover-component>
  {% elsif variant.featured_media.preview_image != blank %}
    <img
      src='{{ product.featured_image | img_url: 'master' }}'
      alt='{{ product.title }}'
      class='tw-w-full tw-h-auto tw-object-cover tw-object-center'
      width='100%'
      height='auto'
      {% if lazy_load %}
        loading='lazy'
      {% endif %}
    >
  {% elsif variant.featured_media.preview_image != blank %}
    <img
      src='{{ variant.featured_media.preview_image | img_url: 'master' }}'
      alt='{{ product.title }}'
      class='tw-w-full tw-h-auto tw-object-cover tw-object-center'
      width='100%'
      height='auto'
      {% if lazy_load %}
        loading='lazy'
      {% endif %}
    >
  {% endif %}

  <div class='md:tw-flex tw-flex-col tw-gap-3 tw-pt-3 tw-flex-1 tw-items-center tw-border-t tw-border-black tw-w-[85%] tw-m-auto'>
    <a
      href='{{ product_url }}'
      class='tw-text-center'
      aria-label='View {{ product.title }} - {{ product.price | money }}'
    >
      <p class='p1  tw-text-black tw-uppercase tw-truncate tw-text-center tw-text-nowrap md:hover:tw-underline tw-transition-all tw-duration-150 tw-ease-in-out'>
        {{ product.title }}
      </p>
    </a>
    <p class='p1  tw-text-black tw-uppercase tw-text-center'>{{ product.price | money }}</p>
  </div>
</div>
