{% assign product = product %}
{% assign active_variant = active_variant %}
{% assign color_options = color_options %}
{% assign size_options = size_options %}
{% assign active_color = active_color %}

<script src='{{ 'color-swatches.js' | asset_url }}' type='module' defer='defer'></script>

{% assign active_size = '' %}

{% for size in size_options.values %}
  {% for variant in product.variants %}
    {% if variant.option1 == size or variant.option2 == size %}
      {% if variant == active_variant %}
        {% assign active_size = size %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

<product-variant-selector>
  <color-swatches>
    <div class='tw-flex tw-flex-wrap tw-gap-6 tw-items-center'>
      {% for color in color_options.values %}
        {% assign variant_for_color = null %}
        {% for variant in product.variants %}
          {% if variant.option1 == color and variant.option2 == active_size %}
            {% assign variant_for_color = variant %}
            {% break %}
          {% elsif variant.option2 == color and variant.option1 == active_size %}
            {% assign variant_for_color = variant %}
            {% break %}
          {% endif %}
        {% endfor %}

        {% if variant_for_color %}
          {% assign swatch_color = variant_for_color.metafields.custom.swatch_color_hex_code | default: color %}

          {% if variant_for_color.id == active_variant.id %}
            <span
              style='background-color: {{ swatch_color }}; border-radius: 0px;'
              class='tw-block tw-border tw-h-14 tw-w-14 tw-border-solid tw-border-black'
              aria-hidden='true'
            ></span>
          {% else %}
            <a
              href='{{ product.url }}?variant={{ variant_for_color.id }}'
              class='color-swatch tw-cursor-pointer'
              data-variant-id='{{ variant_for_color.id }}'
              data-available='{{ variant_for_color.available }}'
            >
              <span
                style='background-color: {{ swatch_color }}; border-radius: 50px;'
                class='color-swatch-border tw-block tw-border tw-h-14 tw-w-14 tw-border-solid tw-border-black'
                aria-hidden='true'
              ></span>
            </a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </color-swatches>
</product-variant-selector>
