{% assign filter_links = filter_links %}

<script src='{{ 'filter-link.js' | asset_url }}' defer></script>

<filter-link-hover>
  {% if request.page_type == 'collection' %}
    {% if filter_links.size > 0 %}
      <div
        class='tw-h-[40px] tw-fixed tw-top-[60px] md:tw-top-[80px] tw-w-full tw-bg-white md:tw-px-0 tw-px-8 tw-mix-blend-difference tw-z-[75] tw-overflow-x-auto tw-pr-8'
        style='scrollbar-width: none; -ms-overflow-style: none;'
      >
        <div
          class='tw-flex tw-h-full tw-items-center tw-whitespace-nowrap  md:tw-justify-center tw-gap-x-8 tw-pr-8 md:tw-pr-0'
          style='-webkit-scrollbar { display: none; }'
        >
          {% for link in filter_links %}
            {% if collection.handle == link.object.handle -%}
              <p class='tw-text-black tw-uppercase tw-font-bold tw-underline p2'>{{ link.title }}</p>
            {% else %}
              <a
                class='filter-link tw-inline-flex tw-items-center tw-justify-center tw-gap-x-6 tw-cursor-pointer tw-shrink-0'
                href='{{ link.url }}'
                aria-label='Navigate to {{ link.title }}'
                {% if link.current %}
                  aria-current='page'
                {% endif %}
              >
                <span class='filter-link-text tw-text-black tw-uppercase tw-font-bold p2 md:hover:tw-underline md:tw-transition-all md:tw-duration-150'>
                  {{- link.title -}}
                </span>
              </a>
            {% endif %}
          {% endfor %}
          <!-- for mobile scroll purposes -->
          <div class='md:tw-hidden'>&nbsp;</div>
        </div>
      </div>
    {% endif %}
  {% else %}
    <div
      class='tw-h-[40px] tw-fixed tw-top-[60px] md:tw-top-[80px] tw-w-full tw-bg-white tw-flex tw-items-center tw-px-8 tw-justify-between tw-mix-blend-difference tw-z-[75]'
    >
      <a
        class='filter-link tw-inline-flex tw-items-center tw-justify-center tw-gap-x-6 tw-cursor-pointer tw-shrink-0'
        href='/collections/all'
        aria-label='Navigate to {{ link.title }}'
        {% if link.current %}
          aria-current='page'
        {% endif %}
      >
        <span>{% render 'left-arrow' %}</span>
        <span class='filter-link-text tw-text-black tw-uppercase p2 md:hover:tw-underline md:tw-transition-all md:tw-duration-150'>
          Shop
        </span>
      </a>

      <a
        class='filter-link tw-inline-flex tw-items-center tw-justify-center tw-gap-x-6 tw-cursor-pointer tw-shrink-0'
        href='/blogs/lookbooks'
        aria-label='Navigate to lookbooks'
        {% if link.current %}
          aria-current='page'
        {% endif %}
      >
        <span class='filter-link-text tw-text-black tw-uppercase p2 md:hover:tw-underline md:tw-transition-all md:tw-duration-150'>
          Lookbooks
        </span>
        <span>{% render 'right-arrow' %}</span>
      </a>
    </div>
  {% endif %}
</filter-link-hover>
