{% assign link = link %}
{% assign text_style = text_style %}
{% assign arrow_style = arrow_style %}

<script src='{{ 'link-hover.js' | asset_url }}' defer='defer' type='module'></script>

<link-hover-effect>
  <a
    class='hover-link tw-inline-flex tw-items-center tw-justify-center tw-cursor-pointer'
    href='{{ link.url }}'
    aria-label='Navigate to {{ link.title }}'
    {% if link.current %}
      aria-current='page'
    {% endif %}
  >
    <span class='hover-link-text {{ text_style }}'>{{ link.title }}</span>
    <span class='hover-link-arrow' style='display: none;' aria-hidden='true'>
      {% render 'right-arrow', style: '{{ arrow_style }}', size: 20 %}
    </span>
  </a>
</link-hover-effect>
