{% assign link = link %}
{% assign link_cta = link_cta %}
{% assign text_style = text_style %}
{% assign arrow_style = arrow_style %}
{% assign arrow_size = arrow_size | default: 20 %}
{% assign is_url = is_url | default: false %}

<script src='{{ 'link-hover.js' | asset_url }}' defer='defer' type='module'></script>

<link-hover-effect>
  <a
    class='hover-link tw-inline-flex tw-items-center tw-justify-center tw-cursor-pointer tw-relative'
    href='{% if is_url %}{{ link }}{% else %}{{ link.url }}{% endif %}'
    aria-label='Navigate to {{ link_cta | default: link.title }}'
    {% if link.current %}
      aria-current='page'
    {% endif %}
  >
    <span class='hover-link-text {{ text_style }}'>{{ link_cta | default: link.title }}</span>
    <span class='hover-link-arrow tw-absolute tw-left-full tw-ml-0' style='display: none;' aria-hidden='true'>
      {% render 'right-arrow', style: arrow_style, size: arrow_size %}
    </span>
  </a>
</link-hover-effect>
