{% assign product = product %}
{% assign color_options = color_options %}
{% assign size_options = size_options %}
{% assign active_variant = active_variant %}
{% assign active_color = active_color %}
{% assign active_size = active_size %}

{% comment %}
  This is the padding top for the product page.
  If the subheader is enabled, we add 40px to the padding top.
{% endcomment %}

{% if subheader_enabled %}
  {% assign padding_top = 'tw-pt-[100px]' %}
{% else %}
  {% assign padding_top = 'tw-pt-[80px]' %}
{% endif %}

<div class='tw-flex tw-flex-col {{ padding_top }}'>
  <item-slider data-show-buttons>
    <div class='card embla tw-relative tw-h-auto' style='opacity: 0;'>
      <div class='embla__container'>
        {% if active_variant.metafields.custom.variant_product_video != blank %}
          <div class='embla__slide tw-flex tw-justify-center tw-flex-[0_0_100%] tw-h-[75vh]'>
            <video
              src='{{ active_variant.metafields.custom.variant_product_video | file_url }}'
              autoplay
              muted
              playsinline
              loop
              disableRemotePlayback
              class='tw-w-full tw-h-full tw-object-cover'
            ></video>
          </div>

          {% if active_variant.metafields.custom.variant_front_image != blank %}
            <div class='embla__slide tw-flex tw-justify-center tw-flex-[0_0_100%] tw-h-[75vh]'>
              <img
                src='{{ active_variant.metafields.custom.variant_front_image | image_url: width: 1000 }}'
                alt='{{ product.title }}'
                class='tw-w-full tw-h-full tw-object-cover'
                width='100%'
                height='auto'
              >
            </div>
          {% endif %}

          {% if active_variant.metafields.custom.variant_rear_image != blank %}
            <div class='embla__slide tw-flex tw-justify-center tw-flex-[0_0_100%] tw-h-[75vh]'>
              <img
                src='{{ active_variant.metafields.custom.variant_rear_image | image_url: width: 1000 }}'
                alt='{{ product.title }}'
                class='tw-w-full tw-h-full tw-object-cover'
                width='100%'
                height='auto'
              >
            </div>
          {% endif %}
        {% else %}
          {% if active_variant.featured_media.preview_image != blank %}
            <div class='embla__slide tw-flex tw-justify-center tw-flex-[0_0_100%] tw-h-[75vh]'>
              <img
                src='{{ active_variant.featured_media.preview_image | image_url: width: 1000 }}'
                alt='{{ product.title }}'
                class='tw-w-full tw-h-full tw-object-cover'
                width='100%'
                height='auto'
              >
            </div>
          {% endif %}
          {% if active_variant.metafields.custom.variant_images != blank %}
            {% for media in active_variant.metafields.custom.variant_images.value %}
              <div class='embla__slide tw-flex tw-justify-center tw-flex-[0_0_100%] tw-h-[75vh]'>
                <img
                  src='{{ media | image_url: width: 1000 }}'
                  alt='{{ product.title }}'
                  class='tw-w-full tw-h-full tw-object-cover tw-object-center'
                  width='100%'
                  height='auto'
                >
              </div>
            {% endfor %}
          {% endif %}
        {% endif %}

        {% if active_variant.metafields.custom.variant_details_mobile_video != blank %}
          <div class='embla__slide tw-flex tw-items-center tw-justify-center tw-flex-[0_0_100%] tw-h-[75vh] tw-p-8'>
            <div class='tw-h-full tw-w-full'>
              <video
                src='{{ active_variant.metafields.custom.variant_details_mobile_video | file_url }}'
                autoplay
                muted
                playsinline
                loop
                disableRemotePlayback
                class='tw-object-center tw-object-cover tw-w-full tw-h-full tw-border-8 tw-border-black'
              ></video>
            </div>
          </div>
        {% endif %}
      </div>
      <div class='embla__button embla__button--prev tw-absolute tw-top-1/2 tw-left-12 tw-mix-blend-difference tw-invert'>
        {% render 'left-arrow', size: 32, style: 'tw-fill-black' %}
      </div>
      <div class='embla__button embla__button--next tw-absolute tw-top-1/2 tw-right-12 tw-mix-blend-difference tw-invert'>
        {% render 'right-arrow', size: 32, style: 'tw-fill-black' %}
      </div>
    </div>
  </item-slider>
  <div class='tw-container tw-flex tw-flex-col tw-h-auto tw-transition-all tw-duration-300 tw-ease-in-out tw-py-sm'>
    {% if product.title != blank or product.price != blank %}
      <div class='card tw-flex tw-flex-col tw-gap-sm tw-uppercase' style='opacity: 0;'>
        <p class=''>{{ product.title }}</p>

        {% if product.compare_at_price > product.price %}
          <div class='tw-flex tw-items-center tw-gap-4'>
            <p class='tw-uppercase tw-text-center tw-leading-none tw-line-through'>
              {{ product.compare_at_price | money }}
            </p>
            <p class='tw-uppercase tw-text-center tw-leading-none tw-text-red-500'>
              {{ product.price | money }}
            </p>
          </div>
        {% else %}
          <p class='tw-leading-none'>{{ product.price | money }}</p>
        {% endif %}
      </div>
    {% endif %}
    <accordion-component>
      {% if color_options != blank %}
        <div
          class='accordion-header card tw-cursor-pointer tw-items-center tw-flex tw-flex-row tw-justify-between tw-mt-md tw-border-b tw-border-black tw-py-xs'
          style='opacity: 0;'
        >
          <p class='p2 tw-uppercase'>Color</p>
          <div
            class='down-icon'
          >
            {% render 'down-arrow', size: 20 %}
          </div>
        </div>
        <div
          class='accordion-content tw-pr-sm md:tw-pr-md'
        >
          {% render 'color-swatches',
            product: product,
            active_variant: active_variant,
            color_options: color_options,
            size_options: size_options,
            active_color: active_color,
            active_size: active_size
          %}
        </div>
      {% endif %}

      {% if size_options != blank %}
        <div
          class='accordion-header card tw-cursor-pointer tw-items-center tw-flex tw-flex-row tw-justify-between tw-border-b tw-border-black tw-py-xs'
          style='opacity: 0;'
        >
          <p class='p2 tw-uppercase'>Size</p>
          <div
            class='down-icon'
          >
            {% render 'down-arrow', size: 20 %}
          </div>
        </div>
        <div
          class='accordion-content tw-pr-sm md:tw-pr-md'
        >
          {% render 'size-swatches',
            product: product,
            active_variant: active_variant,
            color_options: color_options,
            size_options: size_options,
            active_color: active_color,
            active_size: active_size
          %}
        </div>
      {% endif %}

      {% if product.description != blank %}
        <div
          class='accordion-header card tw-cursor-pointer tw-items-center tw-flex tw-flex-row tw-justify-between tw-border-b tw-border-black tw-py-xs'
          style='opacity: 0;'
        >
          <p class='p2 tw-uppercase'>Description</p>
          <div
            class='down-icon tw-transition-all tw-duration-300'
          >
            {% render 'down-arrow', size: 20 %}
          </div>
        </div>
        <div
          class='accordion-content tw-pr-sm md:tw-pr-md'
        >
          <p class='p2'>{{ product.description | strip_html }}</p>
        </div>
      {% endif %}
      {% if product.metafields.custom.product_details != blank %}
        <div
          class='accordion-header card tw-cursor-pointer tw-items-center tw-flex tw-flex-row tw-justify-between tw-border-b tw-border-black tw-py-xs'
          style='opacity: 0;'
        >
          <p class='tw-uppercase p2'>Details</p>
          <div
            class='down-icon'
          >
            {% render 'down-arrow', size: 20 %}
          </div>
        </div>
        <div
          class='accordion-content card tw-pr-sm md:tw-pr-md p2'
          style='opacity: 0;'
        >
          {{ product.metafields.custom.product_details | newline_to_br }}
        </div>
      {% endif %}
      {% if product.metafields.custom.size_guide != blank %}
        <div
          class='accordion-header card tw-cursor-pointer tw-items-center tw-flex tw-flex-row tw-justify-between tw-border-b tw-border-black tw-py-xs'
          style='opacity: 0;'
        >
          <p class='tw-uppercase p2'>Size Guide</p>
          <div
            class='down-icon'
          >
            {% render 'down-arrow', size: 20 %}
          </div>
        </div>
        <div
          class='accordion-content card tw-pr-sm md:tw-pr-md p2'
          style='opacity: 0;'
        >
          <p class='tw-text-pretty p2 tw-pt-xs '>
            All measurements are in inches and taken across the garment while laid flat.
          </p>
          <p class='tw-text-pretty p2 '>
            {{ product.metafields.custom.size_guide }}
          </p>
        </div>
      {% endif %}
      <div class='tw-mt-md card' style='opacity: 0;'>
        {% render 'buy-buttons', product: product, active_variant: active_variant, section: section %}
      </div>
    </accordion-component>
  </div>
</div>
