{% assign product = product %}
{% assign color_options = color_options %}
{% assign size_options = size_options %}
{% assign active_variant = active_variant %}
{% assign active_color = active_color %}
{% assign active_size = active_size %}

{% comment %}
  This is the padding top for the product page.
  If the subheader is enabled, we add 40px to the padding top.
{% endcomment %}

{% if subheader_enabled %}
  {% assign padding_top = 'tw-pt-[100px]' %}
{% else %}
  {% assign padding_top = 'tw-pt-[80px]' %}
{% endif %}

<div class='tw-flex tw-flex-col {{ padding_top }}'>
  <item-slider data-show-buttons>
    <div class='embla tw-relative tw-h-auto'>
      <div class='embla__container'>
        {% if active_variant.metafields.custom.variant_product_video != blank %}
          <div class='embla__slide tw-flex tw-justify-center tw-flex-[0_0_100%] tw-h-[75vh]'>
            <video
              src='{{ active_variant.metafields.custom.variant_product_video | file_url }}'
              autoplay
              muted
              playsinline
              loop
              class='tw-w-full tw-h-full tw-object-cover'
            ></video>
          </div>
        {% endif %}

        {% if active_variant.metafields.custom.variant_front_image != blank %}
          <div class='embla__slide tw-flex tw-justify-center tw-flex-[0_0_100%] tw-h-[75vh]'>
            <img
              src='{{ active_variant.metafields.custom.variant_front_image | image_url: width: 1000 }}'
              alt='{{ product.title }}'
              class='tw-w-full tw-h-full tw-object-cover'
              width='100%'
              height='auto'
            >
          </div>
        {% endif %}

        {% if active_variant.metafields.custom.variant_rear_image != blank %}
          <div class='embla__slide tw-flex tw-justify-center tw-flex-[0_0_100%] tw-h-[75vh]'>
            <img
              src='{{ active_variant.metafields.custom.variant_rear_image | image_url: width: 1000 }}'
              alt='{{ product.title }}'
              class='tw-w-full tw-h-full tw-object-cover'
              width='100%'
              height='auto'
            >
          </div>
        {% endif %}

        {% if active_variant.metafields.custom.variant_details_mobile_video != blank %}
          <div class='embla__slide tw-flex tw-items-center tw-justify-center tw-flex-[0_0_100%] tw-h-[75vh] tw-p-8'>
            <div class='tw-h-full tw-w-full'>
              <video
                src='{{ active_variant.metafields.custom.variant_details_mobile_video | file_url }}'
                autoplay
                muted
                playsinline
                loop
                class='tw-object-center tw-object-cover tw-w-full tw-h-full tw-border-8 tw-border-black'
              ></video>
            </div>
          </div>
        {% endif %}
      </div>
      <div class='embla__button embla__button--prev tw-absolute tw-top-1/2 tw-left-12 tw-mix-blend-difference tw-invert'>
        {% render 'left-arrow', size: 32, style: 'tw-fill-black' %}
      </div>
      <div class='embla__button embla__button--next tw-absolute tw-top-1/2 tw-right-12 tw-mix-blend-difference tw-invert'>
        {% render 'right-arrow', size: 32, style: 'tw-fill-black' %}
      </div>
    </div>
  </item-slider>
  <div class='tw-container tw-flex tw-flex-col tw-h-auto tw-transition-all tw-duration-300 tw-ease-in-out tw-py-sm'>
    {% if product.title != blank or product.price != blank %}
      <div class='tw-flex tw-flex-col tw-gap-sm tw-uppercase'>
        <p class=''>{{ product.title }}</p>
        <p class=''>{{ product.price | money }}</p>
      </div>
    {% endif %}
    <accordion-component>
      {% if color_options != blank %}
        <div
          class=' accordion-header tw-cursor-pointer tw-items-center tw-flex tw-flex-row tw-justify-between tw-mt-md tw-border-b tw-border-black tw-py-xs'
        >
          <p class='p2 tw-uppercase'>Color</p>
          <div
            class='down-icon'
          >
            {% render 'down-arrow', size: 20 %}
          </div>
        </div>
        <div
          class='accordion-content tw-pr-sm md:tw-pr-md'
        >
          {% render 'color-swatches',
            product: product,
            active_variant: active_variant,
            color_options: color_options,
            size_options: size_options,
            active_color: active_color,
            active_size: active_size
          %}
        </div>
      {% endif %}

      {% if size_options != blank %}
        <div
          class='accordion-header tw-cursor-pointer tw-items-center tw-flex tw-flex-row tw-justify-between tw-border-b tw-border-black tw-py-xs'
        >
          <p class='p2 tw-uppercase'>Size</p>
          <div
            class='down-icon'
          >
            {% render 'down-arrow', size: 20 %}
          </div>
        </div>
        <div
          class='accordion-content tw-pr-sm md:tw-pr-md'
        >
          {% render 'size-swatches',
            product: product,
            active_variant: active_variant,
            color_options: color_options,
            size_options: size_options,
            active_color: active_color,
            active_size: active_size
          %}
        </div>
      {% endif %}

      {% if product.description != blank %}
        <div
          class='accordion-header tw-cursor-pointer tw-items-center tw-flex tw-flex-row tw-justify-between tw-border-b tw-border-black tw-py-xs'
        >
          <p class='p2 tw-uppercase'>Description</p>
          <div
            class='down-icon tw-transition-all tw-duration-300'
          >
            {% render 'down-arrow', size: 20 %}
          </div>
        </div>
        <div
          class='accordion-content tw-pr-sm md:tw-pr-md'
        >
          <p class='p2'>{{ product.description | strip_html }}</p>
        </div>
      {% endif %}
      {% if product.metafields.custom.product_details != blank %}
        <div
          class='accordion-header tw-cursor-pointer tw-items-center tw-flex tw-flex-row tw-justify-between tw-border-b tw-border-black tw-py-xs'
        >
          <p class='tw-uppercase p2'>Details</p>
          <div
            class='down-icon'
          >
            {% render 'down-arrow', size: 20 %}
          </div>
        </div>
        <div
          class='accordion-content tw-pr-sm md:tw-pr-md p2'
        >
          {{ product.metafields.custom.product_details | newline_to_br }}
        </div>
      {% endif %}
      <div class='tw-mt-md'>
        {% render 'buy-buttons', product: product, active_variant: active_variant, section: section %}
      </div>
    </accordion-component>
  </div>
</div>
