{% assign product = product %}
{% assign color_options = color_options %}
{% assign size_options = size_options %}
{% assign active_variant = active_variant %}
{% assign active_color = active_color %}
{% assign active_size = active_size %}

<script src='{{ 'product-scroll.js' | asset_url }}' type='module' defer='defer'></script>

<product-page-scroll>
  <accordion-component>
    <div class='tw-w-full tw-block tw-h-full'>
      <div class='tw-w-full tw-flex tw-h-full'>
        <div id='image-container' class='tw-w-1/2 tw-pt-[120px] tw-relative tw-h-full'>
          {% if active_variant.metafields.custom.variant_product_video != blank %}
            {% render 'product-media-gallery', active_variant: active_variant %}
          {% endif %}
          <div id='scroll-arrow' class='tw-w-full tw-h-screen tw-absolute tw-top-0 tw-left-0 tw-z-[1]'>
            <div
              class='tw-w-14 tw-h-14 tw-bg-white tw-flex tw-justify-center tw-items-center tw-border tw-border-black tw-text-black tw-rounded-full tw-tracking-widest tw-absolute tw-bottom-md tw-left-1/2 tw-transform tw--translate-x-1/2 tw-shadow-md'
            >
              <span
                class='tw-transform tw-rotate-180'
              >
                ↑
              </span>
            </div>
          </div>
        </div>

        <div
          id='details-container'
          class='md:tw-w-1/2 tw-h-full tw-pt-[120px] tw-z-[2]'
        >
          <div class='tw-w-full tw-pl-xxl tw-pr-md tw-block tw-pt-xl'>
            {% if product.title != blank or product.price != blank %}
              <div class='tw-mb-lg'>
                <p class='p3 tw-mb-lg tw-uppercase'>{{ product.title }}</p>
                <p class='p3'>{{ product.price | money }}</p>
              </div>
            {% endif %}

            {% if color_options != blank %}
              <div class='tw-mb-lg'>
                {% render 'color-swatches',
                  product: product,
                  active_variant: active_variant,
                  color_options: color_options,
                  size_options: size_options,
                  active_color: active_color,
                  active_size: active_size
                %}
              </div>
            {% endif %}

            {% if size_options != blank and color_options != blank %}
              <div class='tw-mb-lg'>
                {% render 'size-swatches',
                  product: product,
                  active_variant: active_variant,
                  size_options: size_options,
                  color_options: color_options,
                  active_color: active_color,
                  active_size: active_size
                %}
              </div>
            {% endif %}

            {% render 'buy-buttons', product: product, active_variant: active_variant, section: section %}

            {% if product.description != blank %}
              <div
                class='accordion-header tw-cursor-pointer tw-items-center tw-flex tw-flex-row tw-justify-between tw-mt-md tw-border-b tw-border-black'
              >
                <p class='p2 tw-pb-xs'>Product Description</p>
                <div
                  class='down-icon tw-transition-all tw-duration-150'
                >
                  {% render 'down-arrow', size: 20 %}
                </div>
              </div>
              <div
                class='accordion-content tw-max-h-0 tw-opacity-0 tw-pr-sm md:tw-pr-md tw-py-xs tw-border-b tw-border-transparent tw-overflow-hidden'
              >
                <span class='tw-text-pretty p2 whitespace-pre-wrap'>{{ product.description }}</span>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% if active_variant.metafields.custom.variant_details_video != blank %}
        <div class='tw-p-8 tw-m-auto tw-w-fit tw-h-fit'>
          <video
            src='{{ active_variant.metafields.custom.variant_details_video | file_url }}'
            autoplay
            muted
            playsinline
            loop
            class='tw-object-center tw-object-cover tw-max-h-[calc(100dvh-120px-64px)] tw-w-auto tw-border-8 tw-border-black'
          ></video>
        </div>
      {% endif %}
    </div>
  </accordion-component>
</product-page-scroll>
