{% assign product = product %}
{% assign color_options = color_options %}
{% assign size_options = size_options %}
{% assign active_variant = active_variant %}
{% assign active_color = active_color %}
{% assign active_size = active_size %}
{% assign subheader_enabled = subheader_enabled %}

<script src='{{ 'product-scroll.js' | asset_url }}' type='module' defer='defer'></script>

{% comment %}
  This is the padding top for the product page.
  If the subheader is enabled, we add 40px to the padding top.
{% endcomment %}

{% assign padding_top = '' %}
{% assign details_video_height = 'tw-h-[calc(100dvh-120px-64px)]' %}
{% if subheader_enabled %}
  {% assign padding_top = 'tw-pt-[120px]' %}
{% else %}
  {% assign padding_top = 'tw-pt-[80px]' %}
  {% assign details_video_height = 'tw-h-[calc(100dvh-80px-64px)]' %}
{% endif %}

<product-page-scroll>
  <accordion-component>
    <div class='tw-w-full tw-block tw-text-black'>
      <div class='tw-w-full tw-flex tw-h-full'>
        <div
          id='image-container'
          class='tw-w-1/2 md:tw-pr-md xl:tw-pr-lg tw-pb-10 tw-relative tw-h-full {{ padding_top }}'
        >
          {% render 'product-media-gallery', active_variant: active_variant %}

          <div
            id='scroll-arrow'
            class='tw-w- tw-h-svh tw-w-1/2 tw-fixed tw-top-0 tw-left-0 tw-z-[1]'
          >
            <div
              class='tw-flex tw-justify-center tw-items-center tw-border tw-p-2 tw-rounded-full tw-absolute tw-bottom-8 tw-left-1/2 tw-transform tw--translate-x-1/2 tw-shadow-md tw-border-black tw-bg-white'
            >
              {% render 'down-arrow', size: 24, style: 'tw-fill-black' %}
            </div>
          </div>
        </div>

        <div
          id='details-container'
          style='opacity: 0;'
          class='card md:tw-w-1/2 tw-h-full tw-z-[2]  {{ padding_top }}'
        >
          <div class='tw-w-full tw-block tw-pt-xl md:tw-pl-lg xl:tw-pl-xxl'>
            {% if product.title != blank %}
              <div class='tw-mb-lg'>
                <p class='tw-mb-lg tw-uppercase tw-leading-none'>{{ product.title }}</p>

                {% if product.compare_at_price > product.price %}
                  <div class='tw-flex tw-items-center tw-gap-4'>
                    <p class='tw-uppercase tw-text-center tw-leading-none tw-line-through'>
                      {{ product.compare_at_price | money }}
                    </p>
                    <p class='tw-uppercase tw-text-center tw-leading-none tw-text-red-500'>
                      {{ product.price | money }}
                    </p>
                  </div>
                {% else %}
                  <p class='tw-leading-none'>{{ product.price | money }}</p>
                {% endif %}
              </div>
            {% endif %}

            {% if color_options != blank %}
              <div class='tw-mb-lg'>
                {% render 'color-swatches',
                  product: product,
                  active_variant: active_variant,
                  color_options: color_options,
                  size_options: size_options,
                  active_color: active_color,
                  active_size: active_size
                %}
              </div>
            {% endif %}

            {% if size_options != blank and color_options != blank %}
              <div class='tw-mb-lg'>
                {% render 'size-swatches',
                  product: product,
                  active_variant: active_variant,
                  size_options: size_options,
                  color_options: color_options,
                  active_color: active_color,
                  active_size: active_size
                %}
              </div>
            {% endif %}

            {% render 'buy-buttons', product: product, active_variant: active_variant, section: section %}

            {% if product.description != blank %}
              <div
                class='accordion-header tw-cursor-pointer tw-items-center tw-flex tw-flex-row tw-pb-sm tw-justify-between tw-mt-md tw-border-b tw-border-black tw-uppercase'
              >
                <p class=' tw-leading-none'>Product Description</p>
                <div
                  class='down-icon tw-transition-all tw-duration-300'
                >
                  {% render 'down-arrow', size: 20 %}
                </div>
              </div>
              <div
                class='accordion-content tw-pr-sm md:tw-pr-md'
              >
                <p class='tw-text-pretty p2 whitespace-pre-wrap'>{{ product.description | strip_html }}</p>
              </div>
            {% endif %}

            {% if product.metafields.custom.product_details != blank %}
              <div
                class='accordion-header tw-cursor-pointer tw-items-center tw-flex tw-py-sm tw-flex-row tw-justify-between tw-border-b tw-border-black tw-uppercase'
              >
                <p class='tw-leading-none'>Product Details</p>
                <div
                  class='down-icon tw-transition-all tw-duration-300'
                >
                  {% render 'down-arrow', size: 20 %}
                </div>
              </div>
              <div
                class='accordion-content tw-hidden tw-max-h-0 tw-opacity-0 tw-pr-sm md:tw-pr-md tw-border-b tw-border-transparent tw-overflow-hidden tw-uppercase'
              >
                <p class='tw-text-pretty p2 whitespace-pre-wrap'>
                  {{ product.metafields.custom.product_details | newline_to_br }}
                </p>
              </div>
            {% endif %}
            {% if product.metafields.custom.size_guide != blank %}
              <div
                class='accordion-header tw-cursor-pointer tw-items-center tw-flex tw-py-sm tw-flex-row tw-justify-between tw-border-b tw-border-black tw-uppercase'
              >
                <p class='tw-leading-none'>Size Guide</p>
                <div
                  class='down-icon tw-transition-all tw-duration-300'
                >
                  {% render 'down-arrow', size: 20 %}
                </div>
              </div>
              <div
                class='accordion-content tw-hidden tw-max-h-0 tw-opacity-0 tw-pr-sm md:tw-pr-md tw-border-b tw-border-transparent tw-overflow-hidden '
              >
                <p class='tw-text-pretty p2  tw-pt-xs'>
                  All measurements are in inches and taken across the garment while laid flat.
                </p>
                <p class='tw-text-pretty p2 '>
                  {{ product.metafields.custom.size_guide }}
                </p>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% if active_variant.metafields.custom.variant_details_video != blank %}
        <div class='card tw-w-full tw-py-8 tw-flex tw-justify-center tw-items-center' style='opacity: 0;'>
          <div class='{{ details_video_height }}'>
            <video
              src='{{ active_variant.metafields.custom.variant_details_video | file_url }}'
              autoplay
              muted
              playsinline
              loop
              class='tw-object-center tw-object-cover tw-w-auto tw-border-8 tw-border-black {{ details_video_height }}'
            ></video>
          </div>
        </div>
      {% endif %}
    </div>
  </accordion-component>
</product-page-scroll>
