{% assign active_variant = active_variant %}

<div class='tw-h-full tw-z-[1] tw-pt-sm'>
  {% if active_variant.metafields.custom.variant_product_video != blank %}
    <div class='card tw-w-full tw-h-auto tw-relative' style='aspect-ratio: 4/5; opacity: 0;'>
      <video
        src='{{ active_variant.metafields.custom.variant_product_video | file_url }}'
        autoplay
        muted
        playsinline
        loop
        class='tw-w-full tw-h-full tw-object-cover tw-object-center'
      ></video>
    </div>

    {% if active_variant.metafields.custom.variant_front_image != blank %}
      <div class='card tw-w-full tw-h-auto tw-relative' style='aspect-ratio: 4/5; opacity: 0;'>
        <img
          src='{{ active_variant.metafields.custom.variant_front_image | image_url: width: 1000 }}'
          alt='{{ product.title }}'
          class='tw-w-full tw-h-full tw-object-cover tw-object-center'
          width='100%'
          height='auto'
        >
      </div>
    {% endif %}

    {% if active_variant.metafields.custom.variant_rear_image != blank %}
      <div class='card tw-w-full tw-h-auto tw-relative' style='aspect-ratio: 4/5; opacity: 0;'>
        <img
          src='{{ active_variant.metafields.custom.variant_rear_image | image_url: width: 1000 }}'
          alt='{{ product.title }}'
          class='tw-w-full tw-h-full tw-object-cover tw-object-center'
          width='100%'
          height='auto'
        >
      </div>
    {% endif %}
  {% else %}
    {% if active_variant.featured_media.preview_image != blank %}
      <div class='card tw-w-full tw-h-auto tw-relative bg-red-500' style='aspect-ratio: 4/5; ;'>
        <img
          src='{{ active_variant.featured_media.preview_image | image_url: width: 1000 }}'
          alt='{{ product.title }}'
          class='tw-w-full tw-h-full tw-object-cover tw-object-center'
          width='100%'
          height='auto'
        >
      </div>
    {% endif %}

    {% if active_variant.metafields.custom.variant_images != blank %}
      <div class='tw-flex tw-flex-col tw-gap-sm'>
        {% for media in active_variant.metafields.custom.variant_images.value %}
          <div class='card tw-w-full tw-h-auto tw-relative' style='aspect-ratio: 4/5;'>
            <img
              src='{{ media | image_url: width: 1000 }}'
              alt='{{ product.title }}'
              class='tw-w-full tw-h-full tw-object-cover tw-object-center'
              width='100%'
              height='auto'
            >
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}
</div>
