{% assign settings = settings %}
{% assign styles = 'tw-fill-black' %}
{% assign size = '32px' %}
<div class='tw-flex tw-gap-6'>
  
  {%- if settings.social_facebook_link != blank -%}
    <div>
      <a
        href='{{ settings.social_facebook_link }}'
        target='_blank'
        rel='noopener noreferrer'
        style='{{ styles }}'
      >
        {% render 'icon-facebook', size: size %}
      </a>
    </div>
  {%- endif -%}
  {%- if settings.social_meta_link != blank -%}
    <div>
      <a
        href='{{ settings.social_meta_link }}'
        target='_blank'
        rel='noopener noreferrer'
        aria-label='{{ 'general.social.links.facebook' | t }}'
      >
        {% render 'icon-meta', size: size %}
      </a>
    </div>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <div>
      <a
        href='{{ settings.social_instagram_link }}'
        target='_blank'
        rel='noopener noreferrer'
        aria-label='{{ 'general.social.links.instagram' | t }}'
      >
        {% render 'icon-instagram', size: size %}
      </a>
    </div>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <div>
      <a
        href='{{ settings.social_youtube_link }}'
        target='_blank'
        rel='noopener noreferrer'
        aria-label='{{ 'general.social.links.youtube' | t }}'
      >
        {% render 'icon-youtube', size: size %}
      </a>
    </div>
  {%- endif -%}
  {%- if settings.social_x_link != blank -%}
    <div>
      <a
        href='{{ settings.social_x_link }}'
        target='_blank'
        rel='noopener noreferrer'
        aria-label='{{ 'general.social.links.twitter' | t }}'
      >
        {% render 'icon-x', size: size %}
      </a>
    </div>
  {%- endif -%}
  {%- if settings.social_spotify_link != blank -%}
    <div>
      <a href='{{ settings.social_spotify_link }}' target='_blank' rel='noopener noreferrer' aria-label=''>
        {% render 'icon-spotify', size: size %}
      </a>
    </div>
  {%- endif -%}
</div>
