<script src='{{ 'input-animation.js' | asset_url }}' type='module' defer='defer'></script>

<input-animation>
  <footer class='tw-border-y tw-border-black'>
    <!-- Newsletter signup -->
    <div class='tw-border-b tw-border-black tw-py-lg tw-w-full'>
      <div class='tw-flex tw-items-center tw-container'>
        {%- if section.settings.newsletter_heading != blank -%}
          <h2 class='tw-text-2xl tw-mr-lg tw-font-bold tw-hidden md:tw-block tw-whitespace-nowrap'>
            {{ section.settings.newsletter_heading }}
          </h2>
        {%- endif -%}

        {%- form 'customer', id: 'ContactFooter', class: 'tw-w-full' %}
          <input type='hidden' name='contact[tags]' value='newsletter'>
          <div class='tw-flex tw-w-full tw-gap-12'>
            <input
              id='NewsletterForm--{{ section.id }}'
              type='email'
              name='contact[email]'
              class='subscribe-input tw-border-b tw-border-black tw-uppercase tw-flex-1'
              value='{{ form.email }}'
              aria-required='true'
              autocorrect='off'
              autocapitalize='off'
              autocomplete='email'
              {% if form.errors %}
                autofocus
                aria-invalid='true'
                aria-describedby='ContactFooter-error'
              {% elsif form.posted_successfully? %}
                aria-describedby='ContactFooter-success'
              {% endif %}
              placeholder='Email Address'
              required
            >
            {% render 'button', button_cta: 'Subscribe', button_type: 'submit' %}
            {% comment %}
              <button
                type='submit'
                name='commit'
                id='Subscribe'
                aria-label='Subscribe'
              ></button>
            {% endcomment %}

            {%- if form.errors -%}
              <small class='' id='ContactFooter-error'>
                <span class='svg-wrapper'>
                  {{- 'icon-error.svg' | inline_asset_content -}}
                </span>
                {{- form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email -}}
              </small>
            {%- endif -%}
          </div>
          {%- if form.posted_successfully? -%}
            <h3
              id='ContactFooter-success'
              tabindex='-1'
              autofocus
            >
              <span class='svg-wrapper'>
                {{- 'icon-success.svg' | inline_asset_content -}}
              </span>
              {{- 'newsletter.success' | t }}
            </h3>
          {%- endif -%}
        {%- endform -%}
      </div>
    </div>

    <!-- Footer bottom with links,contact and copyright -->
    <div class='tw-container tw-block md:tw-flex md:tw-items-end tw-py-lg tw-h-auto md:tw-justify-between'>
      <div class='tw-block tw-pb-sm md:tw-hidden'>
        {% render 'social-icons', settings: section.settings %}
      </div>
      {%- if section.settings.footer_menu != blank -%}
        <ul class=''>
          {% if section.settings.contact_email != blank %}
            <li class='tw-flex tw-items-center tw-gap-sm'>
              <p class='tw-uppercase'>Contact:</p>
              <a
                class='md:hover:tw-underline md:tw-transition-all md:tw-duration-150'
                href='mailto:{{ section.settings.contact_email }}'
              >
                {{- section.settings.contact_email -}}
              </a>
            </li>
          {% endif %}

          {%- for link in section.settings.footer_menu.links %}
            {%- if link != blank -%}
              <li>
                {% render 'link-hover', link: link, text_style: 'tw-uppercase p3', arrow_style: 'tw-fill-black' %}
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      {%- endif -%}

      <div class='tw-block tw-pt-sm md:tw-hidden'>
        <p class=''>&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url }}</p>
      </div>
      <div class='tw-flex-col tw-text-right tw-h-full tw-gap-3 tw-items-end tw-hidden md:tw-flex'>
        {% render 'social-icons', settings: section.settings %}
        <p class=''>&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url }}</p>
      </div>
    </div>
  </footer>
</input-animation>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "Show Newsletter Signup"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "FOR DEALS AND UPDATES:",
      "label": "Newsletter Heading"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": true,
      "label": "Show Policies"
    },
    {
      "type": "link_list",
      "id": "footer_menu",
      "label": "Footer Menu",
      "info": "Select the menu to display in the footer"
    },
    {
      "type": "text",
      "id": "contact_email",
      "label": "Contact Email",
      "info": "Enter the email address to display in the footer",
      "default": "support@bureau.cafe"
    },
    {
      "type": "url",
      "id": "social_facebook_link",
      "label": "Facebook"
    },
    {
      "type": "url",
      "id": "social_meta_link",
      "label": "Meta"
    },
    {
      "type": "url",
      "id": "social_instagram_link",
      "label": "Instagram"
    },
    {
      "type": "url",
      "id": "social_youtube_link",
      "label": "YouTube"
    },
    {
      "type": "url",
      "id": "social_x_link",
      "label": "X"
    },
    {
      "type": "url",
      "id": "social_spotify_link",
      "label": "Spotify"
    }
  ]
}
{% endschema %}
