<input-animation>
  <footer class='tw-border-y tw-border-black z-[15] tw-text-black'>
    <!-- Newsletter signup -->

    <div class='tw-border-b tw-border-black tw-py-lg tw-w-full'>
      <div class='tw-flex tw-items-center tw-container'>
        {%- if section.settings.newsletter_heading != blank -%}
          <h2 class='tw-text-2xl tw-mr-lg  tw-hidden md:tw-block tw-whitespace-nowrap'>
            {{ section.settings.newsletter_heading }}
          </h2>
        {%- endif -%}

        <form id='MailchimpFooter' class='tw-w-full'>
          <div class='tw-flex tw-w-full tw-gap-12'>
            <input
              id='NewsletterForm--{{ section.id }}'
              type='email'
              name='email'
              class='subscribe-input tw-border-b tw-border-black tw-uppercase tw-flex-1'
              aria-required='true'
              autocorrect='off'
              autocapitalize='off'
              autocomplete='email'
              placeholder='Email Address'
              required
            >
            {% render 'button', button_cta: 'Subscribe', button_type: 'submit' %}

            <small class='tw-hidden' id='MailchimpFooter-error'>
              <span class='svg-wrapper'>
                {{- 'icon-error.svg' | inline_asset_content -}}
              </span>
              <span class='error-message'></span>
            </small>
          </div>
          <h3
            id='MailchimpFooter-success'
            tabindex='-1'
            class='tw-hidden'
          >
            <span class='svg-wrapper'>
              {{- 'icon-success.svg' | inline_asset_content -}}
            </span>
            {{- 'newsletter.success' | t }}
          </h3>
        </form>
      </div>
    </div>

    <!-- Mailchimp Configuration -->
    <script>
      window.mailchimpConfig = {
        apiKey: '{{ section.settings.mailchimp_api_key }}',
        listId: '{{ section.settings.mailchimp_list_id }}',
        server: '{{ section.settings.mailchimp_server }}',
      };
    </script>

    <!-- Footer bottom with links,contact and copyright -->
    <div class='tw-block md:tw-flex md:tw-items-end tw-py-md  tw-h-auto md:tw-justify-between tw-px-sm'>
      <div class='tw-block tw-pb-sm md:tw-hidden'>
        {% render 'social-icons', settings: section.settings %}
      </div>
      {%- if section.settings.footer_menu != blank -%}
        <div class='tw-flex tw-flex-col tw-gap-xxs'>
          {%- for link in section.settings.footer_menu.links %}
            {%- if link != blank -%}
              {% render 'link-hover',
                link: link,
                text_style: 'tw-uppercase p1 tw-m-0 tw-p-0',
                arrow_style: 'tw-fill-black'
              %}
            {%- endif -%}
          {%- endfor -%}
          <span class='tw-uppercase p1 tw-m-0 tw-p-0'>
            Contact:
            <a
              class='tw-underline tw-underline-offset-4 p1'
              href='mailto:{{ section.settings.contact_email }}'
            >
              {{- section.settings.contact_email -}}
            </a>
          </span>
        </div>
        {% if section.settings.contact_email != blank %}
        {% endif %}
      {%- endif -%}

      <div class='tw-block tw-pt-sm md:tw-hidden'>
        <p class='p1'>&copy; {{ 'now' | date: '%Y' }}, {{ shop.name }}</p>
      </div>
      <div class='tw-flex-col tw-text-right tw-h-full tw-gap-3 tw-items-end tw-hidden md:tw-flex'>
        {% render 'social-icons', settings: section.settings %}
        <p class='p1'>&copy; {{ 'now' | date: '%Y' }}, {{ shop.name }}</p>
      </div>
    </div>
  </footer>
</input-animation>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "FOR DEALS AND UPDATES:",
      "label": "Newsletter Heading"
    },
    {
      "type": "text",
      "id": "mailchimp_api_key",
      "label": "Mailchimp API Key",
      "info": "Enter your Mailchimp API key"
    },
    {
      "type": "text",
      "id": "mailchimp_list_id",
      "label": "Mailchimp List ID",
      "info": "Enter your Mailchimp audience/list ID"
    },
    {
      "type": "text",
      "id": "mailchimp_server",
      "label": "Mailchimp Server",
      "info": "Enter your Mailchimp server prefix (e.g., us1, us2, eu1)"
    },
    {
      "type": "link_list",
      "id": "footer_menu",
      "label": "Footer Menu",
      "info": "Select the menu to display in the footer"
    },
    {
      "type": "text",
      "id": "contact_email",
      "label": "Contact Email",
      "info": "Enter the email address to display in the footer",
      "default": "support@bureau.cafe"
    },
    {
      "type": "url",
      "id": "social_facebook_link",
      "label": "Facebook"
    },
    {
      "type": "url",
      "id": "social_meta_link",
      "label": "Meta"
    },
    {
      "type": "url",
      "id": "social_instagram_link",
      "label": "Instagram"
    },
    {
      "type": "url",
      "id": "social_youtube_link",
      "label": "YouTube"
    },
    {
      "type": "url",
      "id": "social_x_link",
      "label": "X"
    },
    {
      "type": "url",
      "id": "social_spotify_link",
      "label": "Spotify"
    }
  ]
}
{% endschema %}
