<input-animation>
  <footer class='tw-border-y tw-border-black z-[15] tw-text-black'>
    <!-- Newsletter signup -->
    {% comment %}
      <div class='tw-border-b tw-border-black tw-py-lg tw-w-full'>
        <div class='tw-flex tw-items-center tw-container'>
          {%- if section.settings.newsletter_heading != blank -%}
            <h2 class='tw-text-2xl tw-mr-lg  tw-hidden md:tw-block tw-whitespace-nowrap'>
              {{ section.settings.newsletter_heading }}
            </h2>
          {%- endif -%}

          {%- form 'customer', id: 'ContactFooter', class: 'tw-w-full' %}
            <input type='hidden' name='contact[tags]' value='newsletter'>
            <div class='tw-flex tw-w-full tw-gap-12'>
              <input
                id='NewsletterForm--{{ section.id }}'
                type='email'
                name='contact[email]'
                class='subscribe-input tw-border-b tw-border-black tw-uppercase tw-flex-1'
                value='{{ form.email }}'
                aria-required='true'
                autocorrect='off'
                autocapitalize='off'
                autocomplete='email'
                {% if form.errors %}
                  autofocus
                  aria-invalid='true'
                  aria-describedby='ContactFooter-error'
                {% elsif form.posted_successfully? %}
                  aria-describedby='ContactFooter-success'
                {% endif %}
                placeholder='Email Address'
                required
              >
              {% render 'button', button_cta: 'Subscribe', button_type: 'submit' %}
              {% comment %}
                <button
                  type='submit'
                  name='commit'
                  id='Subscribe'
                  aria-label='Subscribe'
                ></button>
              {% endcomment %}

              {%- if form.errors -%}
                <small class='' id='ContactFooter-error'>
                  <span class='svg-wrapper'>
                    {{- 'icon-error.svg' | inline_asset_content -}}
                  </span>
                  {{- form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email -}}
                </small>
              {%- endif -%}
            </div>
            {%- if form.posted_successfully? -%}
              <h3
                id='ContactFooter-success'
                tabindex='-1'
                autofocus
              >
                <span class='svg-wrapper'>
                  {{- 'icon-success.svg' | inline_asset_content -}}
                </span>
                {{- 'newsletter.success' | t }}
              </h3>
            {%- endif -%}
          {%- endform -%}
        </div>
      </div>
    {% endcomment %}
    <!-- Footer bottom with links,contact and copyright -->
    <div class='tw-block md:tw-flex md:tw-items-end tw-py-md md:tw-py-lg tw-h-auto md:tw-justify-between tw-px-sm'>
      <div class='tw-block tw-pb-sm md:tw-hidden'>
        {% render 'social-icons', settings: section.settings %}
      </div>
      {%- if section.settings.footer_menu != blank -%}
        <ul class='tw-flex tw-flex-col tw-justify-between'>
          {% if section.settings.contact_email != blank %}
            <li class='tw-flex tw-items-center'>
              <span class='tw-uppercase p1 tw-mr-sm'>Contact:</span>
              <a
                class='md:hover:tw-underline md:tw-transition-all md:tw-duration-300 p1 tw-underline-offset-4'
                href='mailto:{{ section.settings.contact_email }}'
              >
                {{- section.settings.contact_email -}}
              </a>
            </li>
          {% endif %}

          {%- for link in section.settings.footer_menu.links %}
            {%- if link != blank -%}
              <li>
                {% render 'link-hover', link: link, text_style: 'tw-uppercase p1', arrow_style: 'tw-fill-black' %}
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      {%- endif -%}

      <div class='tw-block tw-pt-sm md:tw-hidden'>
        <p class='p1'>&copy; {{ 'now' | date: '%Y' }}, {{ shop.name }}</p>
      </div>
      <div class='tw-flex-col tw-text-right tw-h-full tw-gap-3 tw-items-end tw-hidden md:tw-flex'>
        {% render 'social-icons', settings: section.settings %}
        <p class='p1'>&copy; {{ 'now' | date: '%Y' }}, {{ shop.name }}</p>
      </div>
    </div>
  </footer>
</input-animation>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "FOR DEALS AND UPDATES:",
      "label": "Newsletter Heading"
    },
    {
      "type": "link_list",
      "id": "footer_menu",
      "label": "Footer Menu",
      "info": "Select the menu to display in the footer"
    },
    {
      "type": "text",
      "id": "contact_email",
      "label": "Contact Email",
      "info": "Enter the email address to display in the footer",
      "default": "support@bureau.cafe"
    },
    {
      "type": "url",
      "id": "social_facebook_link",
      "label": "Facebook"
    },
    {
      "type": "url",
      "id": "social_meta_link",
      "label": "Meta"
    },
    {
      "type": "url",
      "id": "social_instagram_link",
      "label": "Instagram"
    },
    {
      "type": "url",
      "id": "social_youtube_link",
      "label": "YouTube"
    },
    {
      "type": "url",
      "id": "social_x_link",
      "label": "X"
    },
    {
      "type": "url",
      "id": "social_spotify_link",
      "label": "Spotify"
    }
  ]
}
{% endschema %}
