<input-animation>
  <footer class='tw-border-y tw-border-black z-[15] tw-text-black'>
    <div class='tw-border-b tw-border-black tw-py-lg tw-w-full'>
      <div class='tw-flex tw-items-center tw-justify-between md:tw-flex-row tw-flex-col tw-px-sm tw-w-full'>
        <div class='tw-mb-lg md:tw-mb-0'>
          <h3 id='newsletter-heading' class='tw-uppercase h3'>{{ section.settings.newsletter_heading }}</h3>
        </div>
        <div id='mc_embed_shell' class='tw-w-full md:tw-w-fit'>
          <div id='mc_embed_signup' class='tw-w-full md:tw-w-fit'>
            <form
              action='https://cafe.us18.list-manage.com/subscribe/post?u=4f31a81e5766b3b529cc84e58&amp;id=06b4e2c4e3&amp;f_id=0044ade6f0'
              method='post'
              id='mc-embedded-subscribe-form'
              name='mc-embedded-subscribe-form'
              class='validate tw-flex tw-flex-col md:tw-flex-row tw-w-full tw-gap-md md:tw-w-fit'
              target='_blank'
            >
              <div class='mc-field-group tw-w-full md:tw-w-fit'>
                <input
                  placeholder='Email Address'
                  type='email'
                  name='EMAIL'
                  class='required email tw-uppercase tw-flex-1 tw-w-full tw-h-full tw-px-sm tw-text-[16px] tw-min-h-[5.6rem] tw-bg-transparent tw-border-[1px] tw-border-black md:tw-mb-[unset] md:tw-w-[300px]'
                  id='mce-EMAIL'
                  required=''
                  value=''
                >
              </div>

              <div aria-hidden='true' style='position: absolute; left: -5000px;'>
                <input
                  type='text'
                  name='b_4f31a81e5766b3b529cc84e58_06b4e2c4e3'
                  tabindex='-1'
                  value=''
                >
              </div>
              <div class='tw-w-full md:tw-w-fit'>
                <input
                  type='submit'
                  name='subscribe'
                  id='mc-embedded-subscribe'
                  class='tw-text-white p3 tw-bg-primary-black tw-border tw-cursor-pointer tw-border-primary-black hover:tw-text-primary-black hover:tw-bg-primary-white tw-transition tw-py-sm tw-px-md tw-uppercase tw-items-center tw-justify-center md:tw-w-fit tw-w-full'
                  value='Subscribe'
                >

                <div id='mce-responses' class='clear p1  tw-text-white'>
                  <div class='response tw-mt-xs' id='mce-error-response' style='display: none;'></div>
                  <div class='response tw-mt-xs' id='mce-success-response' style='display: none;'></div>
                </div>
              </div>
              <script
                async
                type='text/javascript'
                src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'
              ></script>
              <script type='text/javascript'>
                (function ($) {
                  window.fnames = new Array();
                  window.ftypes = new Array();
                  fnames[0] = 'EMAIL';
                  ftypes[0] = 'email';
                })(jQuery);
                var $mcj = jQuery.noConflict(true);
              </script>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class='tw-block md:tw-flex md:tw-items-end tw-py-md  tw-h-auto md:tw-justify-between tw-px-sm'>
      <div class='tw-block tw-pb-sm md:tw-hidden'>
        {% render 'social-icons', settings: section.settings %}
      </div>
      {%- if section.settings.footer_menu != blank -%}
        <div class='tw-flex tw-flex-col tw-gap-xxs'>
          {%- for link in section.settings.footer_menu.links %}
            {%- if link != blank -%}
              {% render 'link-hover',
                link: link,
                text_style: 'tw-uppercase p1 tw-m-0 tw-p-0',
                arrow_style: 'tw-fill-black'
              %}
            {%- endif -%}
          {%- endfor -%}
          <span class='tw-uppercase p1 tw-m-0 tw-p-0'>
            Contact:
            <a
              class='tw-underline tw-underline-offset-4 p1'
              href='mailto:{{ section.settings.contact_email }}'
            >
              {{- section.settings.contact_email -}}
            </a>
          </span>
        </div>
        {% if section.settings.contact_email != blank %}
        {% endif %}
      {%- endif -%}

      <div class='tw-block tw-pt-sm md:tw-hidden'>
        <p class='p1'>&copy; {{ 'now' | date: '%Y' }}, {{ shop.name }}</p>
      </div>
      <div class='tw-flex-col tw-text-right tw-h-full tw-gap-3 tw-items-end tw-hidden md:tw-flex'>
        {% render 'social-icons', settings: section.settings %}
        <p class='p1'>&copy; {{ 'now' | date: '%Y' }}, {{ shop.name }}</p>
      </div>
    </div>
  </footer>
</input-animation>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "FOR DEALS AND UPDATES:",
      "label": "Newsletter Heading"
    },
    {
      "type": "text",
      "id": "mailchimp_api_key",
      "label": "Mailchimp API Key",
      "info": "Enter your Mailchimp API key"
    },
    {
      "type": "text",
      "id": "mailchimp_list_id",
      "label": "Mailchimp List ID",
      "info": "Enter your Mailchimp audience/list ID"
    },
    {
      "type": "text",
      "id": "mailchimp_server",
      "label": "Mailchimp Server",
      "info": "Enter your Mailchimp server prefix (e.g., us1, us2, eu1)"
    },
    {
      "type": "link_list",
      "id": "footer_menu",
      "label": "Footer Menu",
      "info": "Select the menu to display in the footer"
    },
    {
      "type": "text",
      "id": "contact_email",
      "label": "Contact Email",
      "info": "Enter the email address to display in the footer",
      "default": "support@bureau.cafe"
    },
    {
      "type": "url",
      "id": "social_facebook_link",
      "label": "Facebook"
    },
    {
      "type": "url",
      "id": "social_meta_link",
      "label": "Meta"
    },
    {
      "type": "url",
      "id": "social_instagram_link",
      "label": "Instagram"
    },
    {
      "type": "url",
      "id": "social_youtube_link",
      "label": "YouTube"
    },
    {
      "type": "url",
      "id": "social_x_link",
      "label": "X"
    },
    {
      "type": "url",
      "id": "social_spotify_link",
      "label": "Spotify"
    }
  ]
}
{% endschema %}
