<link
  rel='stylesheet'
  href='{{ 'component-cart-notification.css' | asset_url }}'
  media='print'
  onload="this.media='all'"
>
<script src='{{ 'cart-notification.js' | asset_url }}' defer='defer'></script>
<script src='{{ 'menu.js' | asset_url }}' defer='defer'></script>

{% assign header_style = 'tw-fixed tw-top-0 tw-w-full tw-h-[60px] md:tw-h-[80px] tw-z-[200] tw-px-8 ' %}
{% assign hamburger_style = 'tw-w-[24px] tw-h-[1px] tw-rounded-full tw-absolute tw-z-[200]' %}
{% assign cart_link_style = 'tw-inline-flex tw-items-center tw-justify-center tw-gap-x-1 tw-cursor-pointer ' %}
{% assign cart_arrow_styles = 'tw-fill-white' %}

{% if request.page_type == 'index' %}
  {% assign hamburger_style = hamburger_style | append: ' tw-bg-black' %}
  {% assign cart_link_style = cart_link_style | append: ' tw-text-white' %}

{% elsif request.path == '/pages/cafe' %}
  {% if section.settings.cafe_header != blank %}
    {% assign header_style = header_style | append: ' tw-h-[100px] md:tw-h-[110px] tw-bg-black' %}
    {% assign hamburger_style = hamburger_style | append: ' tw-bg-white ' %}
    {% assign cart_link_style = cart_link_style | append: ' tw-text-white ' %}
  {% endif %}
{% else %}
  {% assign header_style = header_style
    | append: ' tw-bg-white tw-border-y tw-border-black tw-bg-opacity-85 tw-backdrop-blur-sm'
  %}
  {% assign hamburger_style = hamburger_style | append: ' tw-bg-black' %}
  {% assign cart_link_style = cart_link_style | append: ' tw-text-black ' %}
  {% assign cart_arrow_styles = ' tw-fill-black' %}
{% endif %}

<menu-overlay>
  <header
    class='{{ header_style }}'
  >
    <div class='tw-flex tw-items-center tw-justify-between tw-h-full'>
      {% if request.path == '/pages/cafe' and section.settings.cafe_header != blank %}
        <div class='tw-absolute tw-top-0 tw-left-0 tw-w-full tw-h-full tw-z-[50]'>
          <img
            src='{{ section.settings.cafe_header | img_url: "master" }}'
            alt='Cafe header'
            class='tw-w-full tw-h-full tw-object-center'
            width='1000'
            height='1000'
          >
        </div>
      {% endif %}
      <div
        id='hamburger'
        class='tw-relative tw-w-[24px] tw-h-[15px] tw-cursor-pointer tw-z-[101] {% if request.path != '/pages/cafe' %} tw-mix-blend-exclusion tw-invert {% endif %}'
      >
        <div
          id='hamburger-bar-1'
          class='{{ hamburger_style }} tw-top-0'
        >
          &nbsp;
        </div>
        <div
          id='hamburger-bar-2'
          class='{{ hamburger_style }} tw-top-[7px]'
        >
          &nbsp;
        </div>
        <div
          id='hamburger-bar-3'
          class='{{ hamburger_style }} tw-bottom-0'
        >
          &nbsp;
        </div>
      </div>
      <div
        id='menu'
        style='clip-path: polygon(-100% 0%, 0% 0%, 0% 100%, -100% 100%)'
        class='tw-h-dvh tw-top-0 tw-fixed tw-w-screen tw-left-0 tw-z-[100] md:tw-w-[50vh] tw-p-lg tw-bg-black'
      >
        <ul
          class='tw-flex tw-flex-col tw-uppercase tw-gap-2 tw-absolute tw-top-[100px] tw-left-8 tw-h-full'
        >
          {% for link in linklists[section.settings.menu].links %}
            <li class='menu-link'>
              <a
                class='tw-inline-flex tw-items-center tw-justify-center tw-gap-x-6 tw-cursor-pointer h3'
                href='{{ link.url }}'
                aria-label='Navigate to {{ link.title | strip_html }}'
                {% if link.current %}
                  aria-current='page'
                {% endif %}
              >
                <span style='color: white;' class='menu-link-text '>{{ link.title }}</span>
                <span class='menu-link-arrow tw-opacity-0' aria-hidden='true'>
                  {%- render 'right-arrow', style: 'tw-fill-white', size: 28 -%}
                </span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      {% if request.page_type == 'index' %}
        {% if section.settings.home_page_header_logo != blank %}
          <a
            href='/'
            class='tw-absolute tw-top-1/2 tw-left-1/2 -tw-translate-x-1/2 -tw-translate-y-1/2 tw-cursor-pointer'
          >
            <img
              src='{{ section.settings.home_page_header_logo | img_url: "master" }}'
              alt='Home header logo'
              width='{{ section.settings.home_page_header_logo.width }}'
              height='{{ section.settings.home_page_header_logo.height }}'
              class='tw-w-[125px] md:tw-w-[200px] tw-h-auto'
            >
          </a>
        {% endif %}

      {% elsif request.path == '/pages/cafe' %}
        {% if section.settings.cafe_header_logo != blank %}
          <a
            href='/'
            class='tw-absolute tw-top-1/2 tw-left-1/2 -tw-translate-x-1/2 -tw-translate-y-1/2 tw-cursor-pointer tw-z-[101]'
          >
            <img
              src='{{ section.settings.cafe_header_logo | img_url: "master" }}'
              alt='Cafe header logo'
              width='{{ section.settings.cafe_header_logo.width }}'
              height='{{ section.settings.cafe_header_logo.height }}'
              class='tw-w-[125px] md:tw-w-[200px] tw-h-auto'
            >
          </a>
        {% endif %}
      {% else %}
        {% if section.settings.header_logo != blank %}
          <a
            href='/'
            class='tw-absolute tw-top-1/2 tw-left-1/2 -tw-translate-x-1/2 -tw-translate-y-1/2 tw-cursor-pointer'
          >
            <img
              src='{{ section.settings.header_logo | img_url: "master" }}'
              alt='Header logo'
              width='{{ section.settings.header_logo.width }}'
              height='{{ section.settings.header_logo.height }}'
              class='tw-w-[125px] md:tw-w-[200px] tw-h-auto'
            >
          </a>
        {% endif %}
      {% endif %}

      <a
        href='{{ routes.cart_url }}'
        class='{{ cart_link_style }}'
        id='cart-link'
        aria-label='View shopping cart{% if cart.item_count > 0 %} with {{ cart.item_count }} items{% endif %}'
      >
        <div
          id='cart-icon'
          class='tw-border tw-hidden tw-border-transparent tw-items-center tw-justify-center tw-rounded-full tw-h-[16px] tw-md:tw-h-[20px] tw-aspect-square tw-w-full tw-relative tw-bg-[#5ffcf9] tw-translate-x-[20px]'
        >
          <p class='tw-text-lg tw-text-black tw-text-center tw-leading-none '>
            {{- cart.item_count -}}
          </p>
        </div>
        <span id='cart-arrow' class='tw-opacity-0'>
          {%- render 'right-arrow', style: cart_arrow_styles, size: 20 -%}
        </span>
        <span class='tw-text-base tw-uppercase md:tw-text-2xl tw-leading-[0.5]'>Cart</span>
      </a>
    </div>
  </header>
</menu-overlay>

{%- if settings.cart_type == 'notification' -%}
  {%- render 'cart-notification',
    color_scheme: section.settings.color_scheme,
    desktop_menu_type: section.settings.menu_type_desktop
  -%}
{%- endif -%}

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type='application/ld+json'>
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "settings": [
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "image_picker",
      "id": "home_page_header_logo",
      "label": "Home Page Header Logo",
      "info": "This logo will be used for the header on the home page. Ideally, this should be a transparent PNG with white text."
    },
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Header Logo",
      "info": "This logo will be used for the header on all pages except the home page. Ideally, this should be a transparent PNG with black text."
    },
    {
      "type": "image_picker",
      "id": "cafe_header_logo",
      "label": "Cafe Header Logo",
      "info": "This logo will be used for the header on the cafe page. Ideally, this should be a transparent PNG with white text."
    },
    {
      "type": "image_picker",
      "id": "cafe_header",
      "label": "Cafe Header",
      "info": "This is the header image for the cafe page."
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "info": "Select the menu to display in the header navigation",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "collection_menu",
      "label": "Collection Menu",
      "info": "Select the filter menu to display in the header navigation for collection pages"
    }
  ]
}
{% endschema %}
