<script src='{{ 'animate-cafe-scroll.js' | asset_url }}' defer></script>

<animate-cafe-scroll>
  <div class='tw-min-h-dvh tw-relative'>
    {% if section.settings.gate_overlay != blank and section.settings.cafe_home_image != blank %}
      <div class='tw-relative tw-w-screen tw-h-full'>
        <div
          id='gate-overlay'
          class='tw-absolute tw-top-0 tw-left-0 tw-w-screen tw-h-dvh tw-z-[10] tw-shadow-[0_0_8px_rgba(0,0,0,0.7)]'
        >
          <img
            src='{{ section.settings.gate_overlay| img_url: "master" }}'
            alt='{{ section.settings.gate_overlay.alt }}'
            class='tw-w-full tw-h-dvh tw-object-center tw-z-[10] tw-filter tw-drop-shadow-[0_0_8px_rgba(0,0,0,0.7)]'
            width='1000'
            height='1000'
          >
        </div>
        <div id='page-container' class='tw-h-auto tw-w-full'>
          <div class='tw-h-dvh tw-w-full tw-bg-red-500'>
            <img
              src='{{ section.settings.cafe_home_image| img_url: "master" }}'
              alt='{{ section.settings.cafe_home_image.alt }}'
              class='tw-w-screen tw-h-dvh tw-object-cover tw-object-center'
              width='1000'
              height='1000'
            >
          </div>
          <div class='tw-h-dvh tw-w-full tw-bg-red-500 tw-text-white tw-text-center tw-flex tw-items-center tw-justify-center'>
            This is a bunch of text and content
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</animate-cafe-scroll>
{% schema %}
{
  "name": "Main Cafe",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "gate_overlay",
      "label": "Gate Overlay Image"
    },
    {
      "type": "image_picker",
      "id": "cafe_home_image",
      "label": "Cafe Home Image"
    }
  ]
}
{% endschema %}
