<script src='{{ 'accordion.js' | asset_url }}' type='module' defer='defer'></script>
<script src='{{ 'product-info.js' | asset_url }}' defer='defer'></script>
<script src='{{ 'product-form.js' | asset_url }}' defer='defer'></script>

<product-info
  data-section='{{ section.id }}'
  data-product-id='{{ product.id }}'
  data-update-url='true'
  data-url='{{ product.url }}'
  data-variants='{{ product.variants | json }}'
>
  {% assign active_variant = product.selected_or_first_available_variant %}
  {% assign color_options = product.options_with_values | where: 'name', 'Color' | first %}
  {% assign size_options = product.options_with_values | where: 'name', 'Size' | first %}

  {% assign active_color = '' %}
  {% for color in color_options.values %}
    {% for variant in product.variants %}
      {% if variant.option1 == color or variant.option2 == color %}
        {% if variant == active_variant %}
          {% assign active_color = color %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  {% assign active_size = '' %}
  {% for size in size_options.values %}
    {% for variant in product.variants %}
      {% if variant.option1 == size or variant.option2 == size %}
        {% if variant == active_variant %}
          {% assign active_size = size %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  <div class='tw-hidden md:tw-block tw-container tw-pb-sm tw-h-full'>
    {% render 'main-product-desktop',
      product: product,
      active_variant: active_variant,
      color_options: color_options,
      size_options: size_options,
      active_color: active_color,
      active_size: active_size
    %}
  </div>

  {% comment %}
    Mobile Product Slider
  {% endcomment %}
  <div class='md:tw-hidden tw-pt-[100px]'>
    <item-slider data-show-buttons>
      <div class='embla'>
        <div class='embla__container'>
          {% if active_variant.metafields.custom.variant_product_video != blank %}
            <div class='embla__slide tw-flex tw-justify-center tw-flex-[0_0_100%] '>
              <video
                src='{{ active_variant.metafields.custom.variant_product_video | file_url }}'
                autoplay
                muted
                playsinline
                loop
                class='tw-w-full tw-h-full tw-object-cover'
              ></video>
            </div>
          {% endif %}

          {% if active_variant.metafields.custom.variant_front_image != blank %}
            <div class='embla__slide tw-flex tw-justify-center tw-flex-[0_0_100%] '>
              <img
                src='{{ active_variant.metafields.custom.variant_front_image | image_url: width: 1000 }}'
                alt='{{ product.title }}'
                class='tw-w-full tw-h-full tw-object-cover'
                width='100%'
                height='auto'
              >
            </div>
          {% endif %}

          {% if active_variant.metafields.custom.variant_rear_image != blank %}
            <div class='embla__slide tw-flex tw-justify-center tw-flex-[0_0_100%] '>
              <img
                src='{{ active_variant.metafields.custom.variant_rear_image | image_url: width: 1000 }}'
                alt='{{ product.title }}'
                class='tw-w-full tw-h-full tw-object-cover'
                width='100%'
                height='auto'
              >
            </div>
          {% endif %}

          {% if active_variant.metafields.custom.variant_details_mobile_video != blank %}
            <div class='embla__slide tw-flex tw-justify-center tw-flex-[0_0_100%] tw-px-8 tw-pt-8'>
              <video
                src='{{ active_variant.metafields.custom.variant_details_mobile_video | file_url }}'
                autoplay
                muted
                playsinline
                loop
                class='tw-object-center tw-object-cover tw-w-full tw-border-8 tw-border-black'
              ></video>
            </div>
          {% endif %}
        </div>
      </div>
      <div class='embla__buttons tw-flex tw-justify-center tw-py-sm'>
        {% render 'prev-button' %}
        {% render 'next-button' %}
      </div>
    </item-slider>
  </div>
</product-info>

{% schema %}
{
  "name": "Product",
  "tag": "section",
  "class": "section"
}
{% endschema %}
