<script src='{{ 'accordion.js' | asset_url }}' type='module' defer='defer'></script>
<script src='{{ 'product-info.js' | asset_url }}' defer='defer'></script>
<script src='{{ 'product-form.js' | asset_url }}' defer='defer'></script>

<product-info
  data-section='{{ section.id }}'
  data-product-id='{{ product.id }}'
  data-update-url='true'
  data-url='{{ product.url }}'
  data-variants='{{ product.variants | json }}'
>
  {% assign product_video = product.metafields.custom.product_video %}
  {% assign product_details_video = product.metafields.custom.product_details_video %}
  {% assign product_image_front = product.metafields.custom.product_image_front %}
  {% assign product_image_back = product.metafields.custom.product_image_back %}

  <div class='tw-hidden md:tw-block tw-container tw-pb-lg'>
    {% render 'main-product-desktop',
      product_video: product_video,
      product_details_video: product_details_video,
      product_image_front: product_image_front,
      product_image_back: product_image_back
    %}
  </div>

  {% comment %}
    Mobile Product Slider
  {% endcomment %}
  <div class='md:tw-hidden tw-pt-[120px]'>

    
    <item-slider data-show-buttons>
      <div class='embla'>
        <div class='embla__container'>
          {% if product_video != blank %}
            <div class='embla__slide tw-flex tw-justify-center tw-flex-[0_0_100%] '>
              <video
                src='{{ product_video | file_url }}'
                autoplay
                muted
                playsinline
                loop
                class='tw-w-full tw-h-full tw-object-cover'
              ></video>
            </div>
          {% endif %}

          {% if product_image_front != blank %}
            <div class='embla__slide tw-flex tw-justify-center tw-flex-[0_0_100%] '>
              <img
                src='{{ product_image_front | image_url: width: 1000 }}'
                alt='{{ product.title }}'
                class='tw-w-full tw-h-full tw-object-cover'
                width='100%'
                height='auto'
              >
            </div>
          {% endif %}

          {% if product_image_back != blank %}
            <div class='embla__slide tw-flex tw-justify-center tw-flex-[0_0_100%] '>
              <img
                src='{{ product_image_back | image_url: width: 1000 }}'
                alt='{{ product.title }}'
                class='tw-w-full tw-h-full tw-object-cover'
                width='100%'
                height='auto'
              >
            </div>
          {% endif %}

          {% if product_details_video != blank %}
            <div class='embla__slide tw-flex tw-justify-center tw-flex-[0_0_100%] '>
              <video
                src='{{ product_details_video | file_url }}'
                autoplay
                muted
                playsinline
                loop
                class='tw-object-center tw-w-auto '
              ></video>
            </div>
          {% endif %}
        </div>
      </div>
      <div class='embla__buttons tw-flex tw-justify-center tw-py-sm'>
        {% render 'prev-button' %}
        {% render 'next-button' %}
      </div>
    </item-slider>
  </div>
</product-info>

{% schema %}
{
  "name": "Product",
  "tag": "section",
  "class": "section"
}
{% endschema %}
