<script src='{{ 'gate-animation.js' | asset_url }}' defer></script>

<opacity-reveal>
  <div class='tw-relative tw-text-black tw-h-full'>
    {% if section.settings.gate_overlay_desktop != blank %}
      <gate-animation>
        <div
          id='gate-overlay'
          class='tw-fixed tw-top-0 tw-left-0 tw-w-full tw-h-full tw-z-[10] tw-shadow-[0_0_8px_rgba(0,0,0,0.75)]'
        >
          <img
            src='{{ section.settings.gate_overlay_desktop | img_url: "master" }}'
            alt='{{ section.settings.gate_overlay_desktop.alt }}'
            class='tw-w-full tw-h-dvh tw-object-center tw-z-[10] tw-filter tw-drop-shadow-[0_0_8px_rgba(0,0,0,0.75)]'
            width=''
            height=''
          >
        </div>
      </gate-animation>
    {% endif %}
    <div class='tw-mt-[100px] tw-container md:tw-flex tw-h-full md:tw-gap-md'>
      {% if section.settings.cafe_home_heading != blank or section.settings.cafe_home_text != blank %}
        <div class='md:tw-basis-1/2 tw-min-h-[600px] tw-w-full tw-overflow-hidden tw-relative'>
          {% if section.blocks.size > 0 %}
            {% assign desktop_images = '' %}
            {% assign mobile_images = '' %}
            {% for block in section.blocks %}
              {% if block.type == 'images_desktop' %}
                {% assign image = block.settings.image | sort %}
                {% assign desktop_images = desktop_images | concat: image %}
              {% endif %}
              {% if block.type == 'images_mobile' %}
                {% assign image = block.settings.image | sort %}
                {% assign mobile_images = mobile_images | concat: image %}
              {% endif %}
            {% endfor %}

            {% if desktop_images.size > 1 %}
              {% assign desktop_images = desktop_images | slice: 1, desktop_images.size %}
            {% endif %}
            {% if mobile_images.size > 1 %}
              {% assign mobile_images = mobile_images | slice: 1, mobile_images.size %}
            {% endif %}

            {% if mobile_images.size > 0 %}
              <div class='tw-w-full tw-h-full tw-absolute tw-inset-0 lg:tw-hidden tw-py-sm'>
                {% render 'image-carousel', images: mobile_images %}
              </div>
            {% endif %}

            {% if desktop_images.size > 0 %}
              <div class='tw-w-full tw-h-full tw-absolute tw-inset-0 lg:tw-block tw-hidden tw-py-md'>
                {% render 'image-carousel', images: desktop_images %}
              </div>
            {% endif %}
          {% endif %}
        </div>
        <div class='tw-flex tw-flex-col tw-pb-md md:tw-basis-1/2 tw-justify-between md:tw-py-md'>
          <div class='tw-w-full'>
            <div class=''>
              {% if section.settings.cafe_home_heading != blank %}
                <p class='tw-text-center tw-font-snell tw-mb-sm tw-text-[32px] tw-leading-none md:tw-text-[48px]'>
                  {{ section.settings.cafe_home_heading | newline_to_br }}
                </p>
              {% endif %}
              {% if section.settings.cafe_home_subheading != blank %}
                <p class='tw-text-center tw-font-snell tw-mb-lg tw-leading-none tw-text-[18px] md:tw-text-[24px]'>
                  {{ section.settings.cafe_home_subheading | newline_to_br }}
                </p>
              {% endif %}
            </div>
            {% if section.settings.cafe_home_text != blank %}
              <p class='tw-text-left tw-mb-lg tw-text-pretty p2'>
                {{ section.settings.cafe_home_text | newline_to_br }}
              </p>
            {% endif %}
          </div>
          {% if section.settings.cafe_hours != blank
            or section.settings.cafe_location != blank
            or section.settings.cafe_location_url != blank
          %}
            <div class='tw-flex tw-flex-col md:tw-flex-row md:tw-justify-between tw-w-full'>
              {% if section.blocks.size > 0 %}
                <dl class='tw-flex tw-flex-col'>
                  {% for block in section.blocks %}
                    {% if block.type == 'cafe_hours' %}
                      <div class='tw-flex tw-gap-xs tw-justify-between tw-w-full'>
                        <dt class='caption'>{{ block.settings.day }}:</dt>
                        <dd class='caption'>{{ block.settings.hours }}</dd>
                      </div>
                    {% endif %}
                  {% endfor %}
                </dl>
              {% endif %}
              <div class='tw-flex tw-flex-col tw-justify-end tw-mt-md md:tw-mt-0'>
                {% if section.settings.cafe_location != blank or section.settings.cafe_location_url != blank %}
                  {% if section.settings.cafe_location != blank and section.settings.cafe_location_url != blank %}
                    <a
                      href='{{ section.settings.cafe_location_url }}'
                      class='{% if section.blocks.size > 0 %} tw-text-left md:tw-text-right {% endif %} tw-uppercase caption md:hover:tw-underline md:tw-transition-all md:tw-duration-300 tw-underline-offset-4'
                    >
                      {{- section.settings.cafe_location | newline_to_br -}}
                    </a>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</opacity-reveal>
{% schema %}
{
  "name": "Main Cafe Media Banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "gate_overlay_desktop",
      "label": "Gate Overlay Image Desktop"
    },
    {
      "type": "image_picker",
      "id": "gate_overlay_mobile",
      "label": "Gate Overlay Image Mobile"
    },
    {
      "type": "textarea",
      "id": "cafe_home_heading",
      "label": "Cafe Home Heading",
      "default": "~No Bad Days~"
    },
    {
      "type": "textarea",
      "id": "cafe_home_subheading",
      "label": "Cafe Home Subheading",
      "default": "Owner Operated: By Creatives, For Creatives"
    },
    {
      "type": "textarea",
      "id": "cafe_home_text",
      "label": "Cafe Home Text",
      "default": "Inspired by the arts, music, and, culture we design clothes for the everyday people that keep every city creative, inspired, and on the move.\n\nOur flagship in the heart of Williamsburg is the manifestation of building community one relationship at a time with the goal to be a conduit for creativity for all the amazing people in our community. Stop by during regular store hours of during one of our many events."
    },
    {
      "type": "textarea",
      "id": "cafe_location",
      "label": "Cafe Location",
      "default": "251 Grand St.\nBrooklyn, NY 11211"
    },
    {
      "type": "url",
      "id": "cafe_location_url",
      "label": "Cafe Location URL"
    }
  ],
  "blocks": [
    {
      "type": "cafe_hours",
      "name": "Cafe Hours",
      "settings": [
        {
          "type": "text",
          "id": "day",
          "label": "Day",
          "default": "Monday"
        },
        {
          "type": "text",
          "id": "hours",
          "label": "Hours",
          "default": "9:00 AM - 5:00 PM"
        }
      ]
    },
    {
      "type": "images_desktop",
      "name": "Images (Landscape)",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "images_mobile",
      "name": "Images (Portrait)",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Main Cafe Media Banner"
    }
  ]
}
{% endschema %}
