<div class='tw-py-md tw-border-t tw-border-black tw-flex tw-flex-col'>
  <h2 class='tw-text-center tw-mb-md tw-font-tangerineBold tw-text-[32px] md:tw-text-[48px] tw-text-black'>
    {{ section.settings.heading }}
  </h2>

  <div
    class='tw-flex tw-overflow-x-auto tw-gap-x-md tw-px-md tw-w-full'
    style='scrollbar-width: none; -ms-overflow-style: none;'
  >
    {% for article in section.settings.blog.articles %}
      <div
        class=' tw-h-full tw-min-w-[215px] tw-max-w-[315px] tw-flex-[0_0_215px] lg:tw-flex-[0_0_315px]'
      >
        <div class='tw-h-full tw-w-auto tw-block'>
          <a href='{{ article.url }}' class='tw-w-full tw-flex tw-items-center tw-justify-center tw-aspect-[4/5]'>
            <img
              src='{{ article.image | img_url: 'master' }}'
              alt='{{ article.image.alt }}'
              class='tw-w-full tw-h-full tw-object-cover tw-object-center'
              width='{{ article.height }}'
              height='{{ article.width }}'
            >
          </a>
          <div class='tw-flex tw-flex-col tw-text-center tw-items-center tw-justify-center tw-pt-sm'>
            <a
              href='{{ article.url }}'
              class='tw-uppercase p2 tw-text-black md:hover:tw-underline tw-transition-all tw-underline-offset-4 tw-duration-300 tw-ease-in-out'
            >
              {{- article.title -}}
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% if section.settings.blog_link != blank and section.settings.blog_link_cta != blank %}
    <div class='tw-w-screen tw-py-md tw-relative'>
      <div class='tw-absolute tw-left-1/2 tw--translate-x-1/2'>
        {% render 'link-hover',
          link: section.settings.blog_link,
          link_cta: section.settings.blog_link_cta,
          text_style: 'tw-uppercase caption tw-text-black tw-underline tw-underline-offset-4',
          arrow_style: 'tw-fill-black',
          arrow_size: 20
        %}
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Cafe Programming Slider",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Programming Blog"
    },
    {
      "type": "url",
      "id": "blog_link",
      "label": "Blog Link"
    },
    {
      "type": "text",
      "id": "blog_link_cta",
      "label": "Blog Link CTA"
    }
  ],
  "presets": [
    {
      "name": "Cafe Programming Slider"
    }
  ]
}
{% endschema %}
