<cart-items
  class='tw-container tw-pt-[60px] md:tw-pt-[80px] tw-text-black tw-border-b tw-border-black {% if cart.items.size == 0 %} tw-h-screen tw-flex tw-flex-col tw-justify-center tw-items-center{% endif %}'
>
  {% if cart.items.size > 0 %}
    <div class='tw-flex tw-flex-col tw-pt-md'>
      {% render 'link-hover',
        link: routes.all_products_collection_url,
        text_style: 'caption tw-text-black',
        arrow_style: 'tw-fill-black',
        link_cta: 'Continue Shopping',
        is_url: true
      %}
      <div class='tw-mt-md'>
        {% for item in cart.items %}
          <div class='tw-flex tw-w-full tw-border-t tw-border-black md:tw-justify-between'>
            <div class='tw-flex tw-flex-col tw-gap-xs tw-py-sm tw-uppercase tw-basis-1/2'>
              <span class='p2 tw-text-nowrap tw-truncate'>{{ item.product.title }}</span>
              <span class='p2'>{{ item.product.price | money }}</span>
              <span class='p2'>Quantity: {{ item.quantity }}</span>

              {% for option in item.options_with_values %}
                {% if option.name == 'Color' %}
                  <span class='p2'>Color: {{ option.value }}</span>
                {% endif %}
                {% if option.name == 'Size' %}
                  <span class='p2'>Size: {{ option.value }}</span>
                {% endif %}
              {% endfor %}
            </div>
            {% if item.product.images.size > 0 %}
              <div class='tw-flex tw-basis-1/2 tw-justify-center tw-items-center md:tw-justify-end'>
                <img
                  src='{{ item.product.images[0] | img_url: "master" }}'
                  alt='{{ item.product.title }}'
                  height='100'
                  width='100'
                  class='tw-object-contain tw-object-center'
                >
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class='tw-flex tw-flex-col tw-items-center tw-justify-center tw-h-full tw-gap-y-md'>
      <h2 class='tw-uppercase h2 tw-text-center'>Your cart is empty</h2>
      {% render 'link-hover',
        link: routes.all_products_collection_url,
        text_style: 'caption tw-text-black',
        arrow_style: 'tw-fill-black',
        link_cta: 'Continue Shopping',
        is_url: true
      %}
    </div>
  {% endif %}
</cart-items>

{% schema %}
{
  "name": "Main Cart Items",
  "settings": []
}
{% endschema %}
