<div class='tw-w-screen tw-h-dvh tw-bg-black tw-sticky tw-top-0 tw-left-0'>
  {%- if section.settings.desktop_video != blank or section.settings.mobile_video != blank -%}
    {%- if section.settings.desktop_video != blank -%}
      <div class='tw-w-full tw-h-full tw-hidden md:tw-block'>
        {{
          section.settings.desktop_video
          | video_tag:
            autoplay: true,
            loop: true,
            muted: true,
            controls: false,
            playsinline: true,
            class: 'tw-w-full tw-h-full tw-object-cover tw-object-center'
        }}
      </div>
    {%- endif -%}

    {%- if section.settings.mobile_video != blank -%}
      <div class='tw-w-full tw-h-full md:tw-hidden'>
        {{
          section.settings.mobile_video
          | video_tag:
            autoplay: true,
            loop: true,
            muted: true,
            controls: false,
            playsinline: true,
            class: 'tw-w-full tw-h-full tw-object-cover tw-object-center'
        }}
      </div>
    {%- endif -%}
  {% elsif section.settings.image != blank %}
    {%- # Desktop image -%}
    <div class='tw-hidden md:tw-block tw-w-full tw-h-full'>
      <img
        src='{{ section.settings.image | image_url: width: 2000 }}'
        alt='{{ section.settings.image.alt | escape }}'
        class='tw-w-full tw-h-full tw-object-cover'
        loading='lazy'
        width='{{ section.settings.image.width }}'
        height='{{ section.settings.image.height }}'
      >
    </div>
    {%- # Mobile image -%}
    <div class='md:tw-hidden tw-w-full tw-h-full'>
      <img
        src='{{ section.settings.image | image_url: width: 1000 }}'
        alt='{{ section.settings.image.alt | escape }}'
        class='tw-w-full tw-h-full tw-object-cover'
        loading='lazy'
        width='{{ section.settings.image.width }}'
        height='{{ section.settings.image.height }}'
      >
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Media Banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "video",
      "id": "desktop_video",
      "label": "Desktop Video"
    },
    {
      "type": "video",
      "id": "mobile_video",
      "label": "Mobile Video"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image (Both Desktop & Mobile)"
    }
  ],
  "presets": [
    {
      "name": "Media Banner"
    }
  ]
}
{% endschema %}
