<product-recommendations
  data-url='{{ routes.product_recommendations_url }}?limit={{ section.settings.products_to_show }}'
  data-section-id='{{ section.id }}'
  data-product-id='{{ product.id }}'
>
  {% if recommendations.performed and recommendations.products_count > 0 %}
    <div class='tw-py-lg tw-border-t tw-border-black'>
      <h2 class='tw-capitalize tw-mb-sm heading tw-text-center tw-text-black'>
        {{ section.settings.heading }}
      </h2>
      <div class='md:tw-hidden'>
        <item-slider>
          <div class='embla !tw-overflow-visible xlg:tw-flex xlg:tw-justify-center'>
            <div class='embla__container'>
              {% for recommendation in recommendations.products %}
                <div class='embla__slide tw-mx-xs tw-h-full tw-min-w-[215px] tw-max-w-[315px]  !tw-flex-[0_0_215px] lg:!tw-flex-[0_0_315px]'>
                  {% render 'card-product-og',
                    product: recommendation,
                    variant: recommendation.first_available_variant,
                    product_url: recommendation.first_available_variant.url,
                    lazy_load: true
                  %}
                </div>
              {% endfor %}
            </div>
          </div>
        </item-slider>
      </div>
      <div class='tw-hidden md:tw-flex tw-container tw-gap-6'>
        {% for recommendation in recommendations.products %}
          {% render 'card-product-og',
            product: recommendation,
            variant: recommendation.first_available_variant,
            product_url: recommendation.first_available_variant.url,
            lazy_load: true
          %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</product-recommendations>

{% schema %}
{
  "name": "Related Products",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Recommended",
      "label": "Heading"
    },
    {
      "type": "number",
      "id": "products_to_show",
      "default": 4,
      "label": "Products to show"
    }
  ]
}
{% endschema %}
